
@keyframes miniTailSwing {
    0%   { transform: rotate(-6deg); }
    25%  { transform: rotate(-2deg); }
    50%  { transform: rotate(5deg); }
    75%  { transform: rotate(2deg); }
    100% { transform: rotate(-6deg); }
}

@keyframes bigTailSwing {
    0%   { transform: rotate(6deg); }
    25%  { transform: rotate(2deg); }
    50%  { transform: rotate(-5deg); }
    75%  { transform: rotate(-2deg); }
    100% { transform: rotate(6deg); }
}